@import "./assignment";
@import "./model-solution";
@import "./input-output";
@import "./common";

.container {
  max-width: 40rem;
  margin: 2rem auto;
}

.sender {
  vertical-align: top;
  float: right;
  border-radius: 0.4rem;
  border: 0.1rem solid #d0d0d0;
  background-color: #3eba41;
  padding: 0.5rem 2rem;
  color: #fff;
  cursor: pointer;
  font-family: Roboto; // poista lopulliseen
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.add-field {
  margin: 0;
  padding: 0.5rem 2rem;
  width: 100%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.4rem;
  background-color: #458faa;
  color: #fff;
  cursor: pointer;
  font-family: Roboto; // poista lopulliseen
}

.sendingStatus {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.sendingInfo {
  position: relative;
  background-color: #e4f9fb;
  margin: 50% 25%;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 4px;
}

.bottom-right {
  position: absolute;
  bottom: 7%;
  right: 2%;
}

.finishButton {
  border-radius: 0.4rem;
  background-color: #9cdffb;
  padding: 0.5rem 1rem;
  color: #fff;
}

.spinner {
  margin: 0.2em 1em;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #7ec0e0;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.status-message {
  margin: 0.1em;
  text-align: center;
  font-size: 18px;
}

.error-message {
  margin: 0.05em;
}

.error-messages {
  margin-bottom: 7%;
}

.compile-error {
  border: 2px solid #a52a2a;
}

.all-passed {
  border: 2px solid #228b22;
}

.internal-error {
  border: 2px solid #a52a2a;
  background-color: #ff91a4;
}
