@import "./assignment";
@import "./model-solution";
@import "./common";
@import "./test-fields";
@import "./model-solution-tabs";
@import "color-constants";

.container {
  max-width: 40rem;
  margin: 2rem auto;
}

.sender {
  vertical-align: top;
  float: right;
  border-radius: 0.4rem;
  border: 0.1rem solid $border-grey;
  background-color: #3eba41;
  padding: 0.5rem 2rem;
  color: $white;
  cursor: pointer;
  font-family: Roboto; // poista lopulliseen
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

