@import "./assignment";
@import "./model-solution";
@import "./input-output";
@import "./common";

.container {
  max-width: 40rem;
  margin: 2rem auto;
}

.sender {
  vertical-align: top;
  float: right;
  border-radius: 0.4rem;
  border: 0.1rem solid #d0d0d0;
  background-color: #3eba41;
  padding: 0.5rem 2rem;
  color: #fff;
  cursor: pointer;
  font-family: Roboto; // poista lopulliseen
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.add-field {
  margin: 0;
  padding: 0.5rem 2rem;
  width: 100%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.4rem;
  background-color: #458faa;
  color: #fff;
  cursor: pointer;
  font-family: Roboto; // poista lopulliseen
}
