.input-field-wrapper {
  width: 100%;
  margin-right: 1rem;
}

.input-field {
  width: 100%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.15rem;
  padding: .3rem;
  &:focus {
    border: 0.15rem solid #a5cbff;
  }
}

$close-button-color: #e74c3c;

.close-button {
  border: 0;
  background: transparent;
  color: $close-button-color;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  transition: color 0.2s;
  line-height: 2rem;
  &:hover {
    color: darken($close-button-color, 10%);
  }
}


