@import "color-constants";

.input-field-wrapper {
  width: 100%;
  margin-right: 1rem;
}

.field-container {
	display: flex;
  flex-direction: row;
  align-items: center;
}

.input-field {
  width: 100%;
  border: 0.1rem solid $border-grey;
  border-radius: 0.15rem;
  padding: .3rem;
}

.close-button {
  border: 0;
  background: transparent;
  color: $close-button-color;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.25rem;
  transition: color 0.2s;
  line-height: 2rem;
  &:hover {
    color: darken($close-button-color, 10%);
  }
}

.test-field-arrow {
  font-size: 40px;
  position: relative;
  top: -0.2rem;
  text-align: center;
}
