@import "../../node_modules/codemirror/lib/codemirror";
@import "color-constants";

.model-solution {
  border: 0.1rem solid $border-grey;
  border-radius: 0.25rem;
  width: 100%;
}

.hiddenRow {
  background-color: $model-solution-row;
}

.modelsolution-lines {
  width: 1em;
}

.readOnly {
  background-color: $read-only;
}
