@import "../../node_modules/codemirror/lib/codemirror";
@import "color-constants";

.model-solution {
  border: 0.1rem solid $border-grey;
  border-radius: 0.25rem;
  width: 99.5%;
}

.hiddenRow {
  background-color: $model-solution-row;
}

.modelsolution-lines {
  width: 1em;
}

.readOnly {
  background-color: $read-only;
}

.reset-button {
  border-radius: 0.4rem;
  border: 0.1rem solid $border-grey;
  padding: 0.5rem 0.5rem;
  color: $white;
  background-color: $reset-red;
}

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: white;
  white-space: nowrap;
}
