@import "./review-info";
@import "./common";

.comment-field {
  max-width: 100%;
  min-width: 100%;
  margin: 15 0 0 0;
  min-height: 5rem;
}

.likert-scale {
  margin: 0.2rem 0;
  font-size: 18px;
}
