@import "progress-bar";
@import "color-constants";

.sending-status {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.sending-info {
  position: relative;
  background-color: $white;
  margin: 20% 27%;
  padding: 2.5rem;
  border: 1px solid #888;
  border-radius: 4px;
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  background-color: $info-blue;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.hidden {
  display: none;
}

.status-message {
  margin: 0.5em;
  text-align: center;
  font-size: 18px;
}

.error-message {
  margin: 0.2em;
  padding: 0.05em;
}

.error-messages {
  margin-bottom: 0.5em;
}

.compile-error {
  border: 2px solid $error-red;
}

.all-passed {
  border: 2px solid $green;
}

.internal-error {
  border: 2px solid $error-red;
}

.status-bottom {
	display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.result-container {
  width: 100%;
	display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}


.check-mark {
  &:after {
    content: "\2713";
    font-size: 40px;
    color: $green;
  }
}

.sad-face {
  &:after {
    content: "\2639";
    font-size: 40px;
    color:  $error-red;
  }
}
