$info-blue: #7ec0e0;
$white: #fff;
$green: #228b22;
$error-red: #a52a2a;
$border-grey: #d0d0d0;
$close-button-color: #e74c3c;
$deep-blue: #458faa;
$read-only: #e8e8e8;
$model-solution-row: #d8e5ff;
$reset-red: #cd5c5c;
$send-green: #3eba41;
$error-message-red: #b74344;
$fatal-error: #DC4E40;
