@import "color-constants";

.info-button {
  border-radius: 0.4rem;
  background-color: $info-blue;
  padding: 0.5rem 2rem;
  margin: 0.2rem;
  color: $white;
  align-self: center;
}

.sender {
  vertical-align: top;
  border-radius: 0.4rem;
  border: 0.1rem solid $border-grey;
  background-color: $send-green;
  padding: 0.5rem 2rem;
  color: $white;
  cursor: pointer;
  font-family: Roboto; //TODO: remove to production
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: $error-message-red;
  border-radius: 0.3em;
  display: block;
  font-weight: bold;
}

.form-component {
  padding: 0.9rem 0 0 0;
}

.same-line {
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  margin: 1rem auto;
  padding-right: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  &.center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.check-mark {
  float: right;
  &:after {
    content: "\2713";
    font-size: 40px;
    color: $green;
  }
}

.fatal-error-display {
  font-size: 20px;
  margin: 20%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: $fatal-error;
  border-radius: 0.5em;
}

.fatal-error-title {
  background-color: $fatal-error;
  padding: 2rem 0;
  color:  $white;
  width: 100%;
  font-size: 25px;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.fatal-error-message {
  padding: 2rem;
}
