@import "../../node_modules/codemirror/lib/codemirror";
@import "../../node_modules/draft-js/dist/Draft.css";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.container {
  max-width: 40rem;
  margin: 2rem auto;
}

.instructions {
  font-weight: bold;
  display: block;
}

.assignment {
  width: 100%;
  max-width: 100%;
  height: 5rem;
  resize: none;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.4rem;
}
.assignment:focus {
  border: 0.15rem solid #a5cbff;
}

.model-solution {
  white-space: pre;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.25rem;
  width: 100%;
  &:focus {
  border: 0.15rem solid #a5cbff;
  }
}

.hiddenRow {
  background-color: #d8e5ff;
}

.modelsolution-lines {
  width: 1em;
}

$close-button-color: #e74c3c;

.close-button {
  border: 0;
  background: transparent;
  color: $close-button-color;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.2s;
  &:hover {
    color: darken($close-button-color, 10%);
  }
}

.assignment-editor {
  width: 100%;
  min-height: 3rem;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: 0.25rem;
}

.errors {
  border: 0.1rem solid #be1c22;
  background-color: #fbe4e4;
  width: 80%;
  display: inline-block;
  padding: 10 10 10 10;
}

.error {
  margin: 5 0 5 0;
}

.sender {
  vertical-align: top;
  float: right;
  border-radius: 0.4rem;
  border: 0.1rem solid #d0d0d0;
  background-color: #3eba41;
  padding: 0.5rem 2rem;
  color: #fff;
  cursor: pointer;
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.same-line {
  display: inline-block;
}

.test-field {
  width: 48%;
}

.input-field {
  width: 95%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.15rem;
  &:focus {
  border: 0.15rem solid #a5cbff;
  }
}

.form-component {
  padding: 15 0 15 0;
}

.io-component {
  padding: 5 0 5 0;
}

.add-field {
  padding: 0.5rem 2rem;
  width: 100%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.4rem;
  background-color: #458faa;
  color: #fff;
  cursor: pointer;
}

// Slate.js
// Icons

.material-icons {
  font-size: 18px;
  vertical-align: text-bottom;
}

/**
 * App.
 */

.nav {
  padding: 10px 15px;
  color: #AAA;
  background: #000;
}

.nav-title {
  margin-right: 0.5em;
}

.nav-links {
  float: right;
}

.nav-link {
  margin-left: 1em;
  color: #AAA;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFF;
  text-decoration: underline;
}

.tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.tab:hover {
  background: #333;
}

.tab + .tab {
  margin-left: 0.5em;
}

.tab.active {
  color: white;
  background: #333;
}

/**
 * Example.
 */

.example {
  max-width: 42em;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

.editor > * > * + * {
  margin-top: 1em;
}

.menu > * {
  display: inline-block;
}

.menu > * + * {
  margin-left: 15px;
}

.button {
  color: #ccc;
  cursor: pointer;
  //margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button[data-active="true"] {
  color: black;
  margin-right: 0.25rem;
}

.toolbar-menu {
  margin-top: .8rem;
  margin-bottom: 0.3rem;
}

.hover-menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #222;
  border-radius: 4px;
  transition: opacity .75s;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.check-list-item + .check-list-item {
  margin-top: 0;
}

.check-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-list-item > span:first-child {
  margin-right: 0.75em;
}

.check-list-item > span:last-child {
  flex: 1;
}

.check-list-item > span:last-child:focus {
  outline: none;
}

// material icons
.material-icons {
  font-size: 18px;
  vertical-align: text-bottom;
}
