@import "../../node_modules/codemirror/lib/codemirror";
@import "../../node_modules/draft-js/dist/Draft.css";

.container {
  max-width: 40rem;
  margin: 2rem auto;
}

.instructions {
  font-weight: bold;
  display: block;
}

.assignment {
  width: 100%;
  max-width: 100%;
  height: 5rem;
  resize: none;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.4rem;
}
.assignment:focus {
  border: 0.15rem solid #a5cbff;
}

.model-solution {
  white-space: pre;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.25rem;
  width: 100%;
  &:focus {
    border: 0.15rem solid #a5cbff;
  }
}

.hiddenRow {
  background-color: #d8e5ff;
}

.modelsolution-lines {
  width: 1em;
}

$close-button-color: #e74c3c;

.close-button {
  border: 0;
  background: transparent;
  color: $close-button-color;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.2s;
  &:hover {
    color: darken($close-button-color, 10%);
  }
}

.assignment-editor {
  width: 100%;
  min-height: 3rem;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.errors {
  border: 0.1rem solid #be1c22;
  background-color: #fbe4e4;
  width: 80%;
  display: inline-block;
  padding: 10 10 10 10;
}

.error {
  // margin: 5 0 5 0;
  position:relative;
  // top: 1.70rem;
  padding:0.2rem;
  margin:1em 0 3em;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f3711c), to(#f93535));
  background:-moz-linear-gradient(#f3711c, #f93535);
  background:-o-linear-gradient(#f3711c, #f93535);
  background:linear-gradient(#f3711c, #f93535);  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  &:after {
    content:"";
    position:absolute;
    top:-0.95rem; /* value = - border-top-width - border-bottom-width */
    right:20rem; /* controls horizontal position */
    bottom:auto;
    left:auto;
    border-width:0 0.95rem 0.95rem; /* vary these values to change the angle of the vertex */
    border-color:#f3711c transparent;
    border-style: solid;
    display: block;
    width: 0;
  }
}

.errorHide {
  visibility: hidden;
}

.sender {
  vertical-align: top;
  float: right;
  border-radius: 0.4rem;
  border: 0.1rem solid #d0d0d0;
  background-color: #3eba41;
  padding: 0.5rem 2rem;
  color: #fff;
  cursor: pointer;
  &:disabled {
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.same-line {
  display: inline-block;
}

.test-field {
  width: 48%;
  padding: 5 0 0 0;
}

.input-field {
  width: 95%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.15rem;
  &:focus {
    border: 0.15rem solid #a5cbff;
  }
}

.form-component {
  padding: 15 0 15 0;
}

.io-component {
  padding: 5 0 5 0;
}

.add-field {
  padding: 0.5rem 2rem;
  width: 100%;
  border: 0.1rem solid #d0d0d0;
  border-radius: 0.4rem;
  background-color: #458faa;
  color: #fff;
  cursor: pointer;
}
