
.progress-bar {
  position: absolute;
  bottom: 9%;
  left: 2%;
  width: 85%;
  height: 1.5rem;
  background-color: #a6c0f1;
  border-radius: 0.2rem;
  overflow: hidden;
}

.progress {
  background-color: #3969c2;
  height: 1.5rem;
  border-radius: 0.2rem;
  width: 100%;
}
